<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pilo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Pilo 需要读取你选择的目录里的 Git 仓库信息。代码不会离开你的电脑。</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Pilo 需要读取你选择的目录里的 Git 仓库信息。代码不会离开你的电脑。</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Pilo 需要读取你选择的目录里的 Git 仓库信息。代码不会离开你的电脑。</string>
	<key>NSHumanReadableCopyright</key>
	<string>Made with 🕊️ by Emma</string>
</dict>
</plist>
